# Streamlit core
streamlit
pandas
numpy
scikit-learn
Pillow
PyPDF2
mss

# EasyOCR without OpenGL issues
easyocr
torch==2.0.1
torchvision==0.15.2
opencv-python-headless

# Transformers + Hugging Face
transformers
sentence-transformers
huggingface-hub
faiss-cpu

# AWS / LangChain
boto3
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-ollama
langchain-text-splitters
langsmith

# Snowflake
snowflake-connector-python

# Utils
regex
pyyaml
tabulate
requests
protobuf
python-bidi
typing-extensions
typing-inspect
jsonschema
pydantic
pydantic-core
pydantic-settings
